.DS_Store
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*

*.vssscc
*.scc
*.dbmdl
*.jfm
*.orig
*.BASE
*.LOCAL
*.REMOTE
*~HEAD
*.min.css
*.less.js
node_modules/*
**/node_modules/*
tempfiles/
.idea/
doc/
build/
**/dist/*
!**/dist/Medal/
.build/
.vs/
.happypack/

**/packages/*
#!packages/**
task_bak
.vs/
*.vsext
*.dll
*.dll
